<div class = "col-md-8 mx-auto mt-3">
  <div class ="card">
    <div class ="card-header">
      <div class = "text-center">
      <h2>マイページ</h2>
      </div>
    </div>


    <div class ="card-body">
      <div class ="w-50 mx-auto">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label '学籍番号' %> <br />
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="field">
            <%= f.label "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control mb-2" %>
          </div>

          <div class="field">
            <%= f.label 'コース' %> <br />
            <%= f.collection_select(:course_id, Course.all, :id, :course_name) %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label "パスワード" %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control mb-2" %>
          </div>

          <div class="field">
            <%= f.label "パスワード再入力" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control mb-2" %>
          </div>

          <div class="field">
            <%= f.label "現在のパスワード" %>
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control mb-2" %>
          </div>

          <div class="actions">
            <%= f.submit "更新", class: "form-control mt-3 bg-dark text-white" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class = "card-footer">
      <%= link_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger float-right"%>
    </div>

  </div>
</div>

