<div class = "container">
    <%= form_for(@task) do |f| %>
        <div class = "card container pt-3">
            <div class = "form-group">
                <%= f.label 'タイトル'%>
                <%= f.text_field :title, class: 'form-control'%>
            </div>

            <div class = "form-group">
                <%= f.label '内容'%>
                <%= f.text_field :body, class: 'form-control'%>
            </div>

            <div class = "form-group">
                <%= f.label '締め切り'%>
                <%= f.date_select :deadline, use_month_numbers:true, prompt:"--", class: 'form-control'%>
            </div>
            
        </div>

        <%= f.submit "更新",class:'btn btn-success float-right mt-3'%>
    <%end%>
</div>
