<% if user_signed_in? %>
    <h2 class ="text-center">[Todoリスト]</h2>

    <div class = "container">
    <div class ="table-responsive text-nowrap">
        <%= link_to "新規作成", new_task_path, class: "btn btn-primary float-right mb-2" %>
        <table class = "table table-bordered text-center">
            <thead class = "thead-light">
                <tr>
                    <th>タイトル</th>
                    <th>内容</th>
                    <th>締切</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @task.each do |task| %>
                    <tr>
                        <td><%= task.title %></td>
                        <td><%= task.body %></td>
                        <td><%= task.deadline %></td>
                        <td><%= link_to '',  task, class: 'fas fa-edit fa-2x text-dark'%></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    </div>
<%end%>

