<div class = "container mt-3">
    <div class ="col-md-8 mx-auto">
    <%= form_for(@task) do |f| %>
        <div class = "card container pt-3">
            <div class ="form-group">
                <div class = "form-group row">
                    <%= f.label 'タイトル：', class: 'col-md-2'%>
                    <%= f.text_field :title, class: 'form-control col-md-6'%>
                </div>

                <div class = "form-group row">
                    <%= f.label '内容：', class: 'col-md-2'%>
                    <%= f.text_field :body, class: 'form-control col-md-6'%>
                </div>

                <div class = "form-group row">
                    <%= f.label '締め切り：', class: 'col-md-2'%>
                    <%= f.date_select :deadline, use_month_numbers:true, prompt:"--", start_year:Time.now.year, class: 'form-control col-md-6'%>
                </div>
                </div>
        </div>

        <%= f.submit "タスク登録",class:'btn btn-success float-right mt-3'%>
    <%end%>
    </div>
</div>


