<div class = "col-md-6 mx-auto px-3 py-2">
<ul class = "h5" style ="line-height:2.5rem;">
    <li> タイトル：<%= @task.title %></li>
    <li> 内容：<%= @task.body%></li>
    <li>締切：<%= @task.deadline%></li>
</ul>

    <%= link_to "削除", task_path(@task), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn btn-danger float-right mt-3'%>
    <%= link_to "編集", edit_task_path, class: 'btn btn-success float-right mt-3 mx-3'%>
</div>
