        <%= image_tag "#{current_user.course.course_name}summer.jpg", class: 'w-100'%>
<div class ="container">
    <div class = "row">

        <div class = "col-sm-12 col-md-6 mt-5">
            <h2 class ="text-center text-white bg-danger rounded-top py-2 mb-0">本日提出の課題</h2>
            <table class = "table table-bordered">

                <thead class = "thead-light">
                    <tr>
                        
                        <th>教科</th>
                        <th>課題内容</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                <% current_user.course.homeworks.all.each do |homework| %>
                    <tr>
                    <% if Date.today == homework.deadline %>
                        <td><%= homework.subject %></td>
                        <td><%= homework.content %></td>
                        <td><%= link_to '',  homework, class: 'fas fa-edit fa-2x text-dark'%></td>
                    <% end %>
                    <tr>
                <% end %>
                </tbody>

            </table>
                </div>
        <div class = "col-sm-12 col-md-6 mt-5">
                <h2 class ="text-center text-white bg-danger rounded-top py-2 mb-0">本日提出のタスク</h2>
                <table class = "table table-bordered">

                    <thead class = "thead-light">
                        <tr>
                            
                            <th>タイトル</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                    <% current_user.tasks.all.each do |task| %>
                        <tr>
                        <% if Date.today == task.deadline %>
                            <td><%= task.title %></td>
                            <td><%= link_to '',  task, class: 'fas fa-edit fa-2x text-dark'%></td>
                        <% end %>
                        <tr>
                    <% end %>
                    </tbody>

                </table>
            </div>
        </div>

    </div>
    </div>

    