<%= image_tag "top-bg.png", class: 'w-100 mx-auto mb-3'%>

<div class ="container">
    <div class ="d-none d-md-block">
    <div class ="my-5 col-md-8 col-sm-12 mx-auto">
        <i class="fas fa-school fa-3x bg-dark rounded-circle p-3 text-white d-inline"></i>
        <h2 class ="d-inline">クラスのみんなで課題を共有しよう！</h2>
    </div>
    </div>

    <div class ="row pt-5">
        <div class ="col-md-4">
            <div class = "text-center">
            <i class="fas fa-user-shield fa-3x bg-dark rounded-circle p-3 text-white text-center"></i>
            <h3>個人タスク機能</h3>
            <p>ユーザー個人のタスク管理機能も搭載。<br>
                課題以外のタスクもこのサイトでまとめて見ることができます。</p>
            </div>
        </div>
        <div class ="col-md-4">
            <div class ="text-center">
            <i class="fas fa-id-card fa-3x bg-dark rounded-circle p-3 text-white"></i>
            <h3>全コース対応！</h3>
            <p>５学年×４コースに完全対応。
            ユーザー登録時に自分の所属しているクラスをお選びください</p>
            </div>
        </div>
        <div class ="col-md-4">
            <div class ="text-center">
            <i class="fas fa-eye fa-3x bg-dark rounded-circle p-3 text-white"></i>
            <h3>時間割も見れる！</h3>
            <p>見やすくわかりやすい時間割を<br>Topページで確認できます。<br>
                (M科の方にご協力いただきました。)</p>
            </div>
        </div>
    </div>

    <div class = "col-md-6 card mx-auto p-0 mt-5">
        <div class ="card-header text-center bg-dark">
            <h2 class ="text-light">新規登録はこちら</h2>
            <%= link_to 'サインアップ', new_user_registration_path, class: 'btn bg-white text-dark' %>
        </div>

        <div class ="card-body text-center">

            <h3>登録済みの方はこちらから</h3>
            <%= link_to 'ログイン', new_user_session_path, class: 'btn bg-dark text-white' %>
        </div>
    </div>
</div>

