<div class = "col-md-10 mx-auto bg-light pt-3" style ="line-height:2rem;">
<h1 class = "text-center pb-2"><strong>使い方</strong></h1>
<h2>新規ユーザー登録、もしくはログインをする。</h2>
<ol>
<li>ヘッダーのサインアップ、ログインのボタンから新規登録画面、ログイン画面に進む。(スマホの方は右上のメニューボタンをタップ)</li>
<li>学籍番号(半角英数字)・クラス・メールアドレス・パスワード(６文字以上)を入力し、新規ユーザー登録ボタンをクリック。</li>
</ol>
<ul>
<li>ログインの際は学籍番号とパスワードのみでログインできます。</li>
</ul>

<h2>Top画面</h2>
<ul>
<li>トップ画面上部には、それぞれのコースに対応した時間割が表示されています。(表示されない場合は再読み込みをお願いします。)</li>
<li>トップ画面下部には、「本日提出の課題」・「本日締切のタスク」の両方が表示され、ひと目で当日締切の課題やタスクを確認することができます。</li>
</ul>

<h2>課題管理</h2>
<ol>
<li>ヘッダーの課題管理をクリック(スマホの方は右上のメニューボタンをクリック)</li>
<li>新規登録ボタンをクリック</li>
<li>教科・課題内容・締切・説明文を入力し「課題登録」ボタンをクリック</li>
<li>課題一覧のページに登録されていることが確認できます。</li>
</ol>

<ul>
<li>課題一覧・締切前・締切超過のそれぞれのボタンを押すと、登録された課題の締切に応じた箇所に表示されていることが確認できます。</li>
<li>締切に応じて日付の文字が、締切前「黒」・締切当日「緑」・締切超過「赤」で表示されます。</li>
<li><i class = 'fas fa-edit text-dark'></i>のアイコンをクリックすると課題詳細ページが表示されます。</li>

<li>課題詳細ページでは、課題を登録したユーザーのみ編集、削除が可能です。それぞれのボタンをクリックしてお進みください。</li>
<li>課題詳細ページでは、すべてのユーザーが課題に対してコメントすることができます。コメントはコメントを投稿したユーザーのみ削除ができます。</li>
</ul>

<ul>
<li>課題管理機能は同じクラスの人であれば登録された課題を閲覧できるようなシステムとなっております。クラスのみんなで充実したManagerにつくりあげていきましょう！</li>
</ul>

<h2>Todoリスト</h2>
<ol>
<li>ヘッダーのTodoをクリック(スマホの方は右上のメニューボタンをクリック)</li>
<li>新規登録ボタンをクリック</li>
<li>タイトル・内容・締切を入力し「タスク登録」ボタンをクリック</li>
<li>Todo一覧のページに登録されていることが確認できます。</li>
</ol>

<ul>
<li>Todoリスト機能は他のユーザーに見られないプライベートなシステムとなっております。個人的なタスクだから課題管理の方には書けないな…などといったタスクを管理するときにおすすめです。</li>
</ul>
</div>

<footer class ="bg-dark">
    <div class ="container">
      <div class ="col-md-6 mx-auto text-white pb-5 pt-3 mt-3">
        <li>
          <%= link_to '利用規約', about_homes_path, class: 'text-white pr-3'%>
        </li>
        <% if current_user.try(:admin?) %>
          <li>
            <%= link_to '管理者ページ', rails_admin_path, class: 'text-white pr-3'%>
          </li>
        <% end %>
        <li>
          お問い合わせはTwitterのDMまで
        </li>
        <a href = "https://twitter.com/mkrms_again" class="fab fa-twitter-square fa-3x text-white float-right"></a>
      </div>
        <p class ="text-center text-white">Niiyama keisuke</p>
    </div>
  </footer>