<% if user_signed_in? %>
<%= render "login"%>
<% else %>
<%= render "not-login"%>
<% end %>

<footer class ="bg-dark">
    <div class ="container">
      <div class ="col-md-6 mx-auto text-white pb-5 pt-3 mt-3">
        <li>
          <%= link_to '利用規約', about_homes_path, class: 'text-white pr-3'%>
        </li>
        <% if current_user.try(:admin?) %>
          <li>
            <%= link_to '管理者ページ', rails_admin_path, class: 'text-white pr-3'%>
          </li>
        <% end %>
        <li>
          お問い合わせはTwitterのDMまで
        </li>
        <a href = "https://twitter.com/mkrms_again" class="fab fa-twitter-square fa-3x text-white float-right"></a>
      </div>
        <p class ="text-center text-white">Niiyama keisuke</p>
    </div>
  </footer>