<h2 class ="text-center">[課題管理]</h2>
<div class ="container">
<div class ="table-responsive text-nowrap">
    <%= link_to "新規作成", new_homework_path, class: "btn btn-primary mb-3 float-right" %>
    <ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true"><div class = "ml-3">課題一覧</div></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false"><div class = "ml-3">締切前</div></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false"><div class = "ml-3">締切超過</div></a>
  </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active text-center" id="item1" role="tabpanel" aria-labelledby="item1-tab">
                <table class = "table table-bordered">
                    <thead class = "thead-light">
                        <tr>
                            <th>教科</th>
                            <th>課題内容</th>
                            <th>締め切り</th>
                            <th>作成者</th>
                            <th>コメント</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @homework.each do |homework| %>
                            <tr>
                                <td><%= homework.subject %></td>
                                <td><%= homework.content %></td>
                                <% if homework.deadline.present?%>

                                    <% if Date.today < homework.deadline %>
                                        <td> <%= homework.deadline%> </td>
                                    <%elsif Date.today > homework.deadline %>
                                        <td class ="text-danger"> <%= homework.deadline %> </td>
                                    <% else %>
                                        <td class = "text-success"> <%= homework.deadline %> </td>
                                    <% end %>

                                <% else %>
                                    <td></td>
                                <%end%>
                                    <td><%= homework.user.name %></td>
                                    <td><%= homework.comments.count%></td>
                                    <td><%= link_to '',  homework, class: 'fas fa-edit fa-2x text-dark'%></td>
                            </tr>
                        <% end %>

                    </tbody>
                </table>
        </div>
        <div class="tab-pane fade text-center" id="item2" role="tabpanel" aria-labelledby="item2-tab">
            <table class = "table table-bordered">
                <thead class = "thead-light">
                    <tr>
                        <th>教科</th>
                        <th>課題内容</th>
                        <th>締め切り</th>
                        <th>作成者</th>
                        <th>コメント</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @homework.each do |homework| %>
                        <% if homework.deadline.present? %>
                            <% if Date.today <= homework.deadline%>
                            <tr>
                                <td><%= homework.subject %></td>
                                <td><%= homework.content %></td>
                                <% if homework.deadline.present?%>

                                    <% if Date.today < homework.deadline %>
                                        <td> <%= homework.deadline%> </td>
                                    <%elsif Date.today > homework.deadline %>
                                        <td class ="text-danger"> <%= homework.deadline %> </td>
                                    <% else %>
                                        <td class = "text-success"> <%= homework.deadline %> </td>
                                    <% end %>

                                <% else %>
                                    <td></td>
                                <%end%>
                                    <td><%= homework.user.name %></td>
                                    <td><%= homework.comments.count%></td>
                                    <td><%= link_to '',  homework, class: 'fas fa-edit fa-2x text-dark'%></td>
                            </tr>
                            <% end %>
                        <% end %>
                    <% end%>

                </tbody>
            </table>
        </div>
        <div class="tab-pane fade text-center" id="item3" role="tabpanel" aria-labelledby="item3-tab">
            <table class = "table table-bordered">
                <thead class = "thead-light">
                    <tr>
                        <th>教科</th>
                        <th>課題内容</th>
                        <th>締め切り</th>
                        <th>作成者</th>
                        <th>コメント</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @homework.each do |homework| %>
                        <% if homework.deadline.present? %>
                            <% if Date.today > homework.deadline%>
                            <tr>
                                <td><%= homework.subject %></td>
                                <td><%= homework.content %></td>
                                <% if homework.deadline.present?%>

                                    <% if Date.today < homework.deadline %>
                                        <td> <%= homework.deadline%> </td>
                                    <%elsif Date.today > homework.deadline %>
                                        <td class ="text-danger"> <%= homework.deadline %> </td>
                                    <% else %>
                                        <td class = "text-success"> <%= homework.deadline %> </td>
                                    <% end %>

                                <% else %>
                                    <td></td>
                                <%end%>
                                    <td><%= homework.user.name %></td>
                                    <td><%= homework.comments.count%></td>
                                    <td><%= link_to '',  homework, class: 'fas fa-edit fa-2x text-dark'%></td>
                            </tr>
                            <% end %>
                        <% end %>
                    <% end %>

                </tbody>
            </table>
        </div>
    </div>
</div>
            </div>
