<div class = "container mt-3">
    <div class = "col-md-8 mx-auto">
    <%= form_for (@homework) do |f| %>
        <div class = "card container pt-3">
            <%= f.hidden_field :course_id, value: current_user.course_id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            
            <div class = "form-group">
                <div class = "form-group row">
                    <%= f.label '教科：', class: 'col-md-2'%>
                    <%= f.text_field :subject, class: 'form-control col-md-6'%>
                </div>

                <div class = "form-group row">
                    <%= f.label '課題内容：', class: 'col-md-2'%>
                    <%= f.text_field :content, class: 'form-control col-md-6'%>
                </div>

                <div class = "form-group row">
                    <%= f.label '締め切り：', class: 'col-md-2'%>
                    <%= f.date_select :deadline, use_month_numbers:true, prompt:"--", start_year:Time.now.year, class: 'form-control col-md-6'%>
                </div>

                <div class = "form-group row">
                    <%= f.label '説明：', class: 'col-md-2'%>
                    <%= f.text_area :memo, class: 'form-control col-md-6'%>
                </div>
            </div>
        </div>
        <%= f.submit "課題登録", class:'btn btn-success float-right my-3'%>
    <%end%>
    </div>
</div>