<div class = "col-md-6 mx-auto px-3 py-2">
<ul class = "h5" style ="line-height:2.5rem;">
    <li> 教科：<%= @homework.subject %></li>
    <li> 内容：<%= @homework.content %></li>
    <li> 説明：<%= @homework.memo %></li>
    <li>締切：<%= @homework.deadline%></li>
</ul>

    <% if current_user == @homework.user %>
        <div class ="mt-3">
        <%= link_to "編集", edit_homework_path, class: 'btn btn-success float-right ml-3'%>
        <%= link_to "削除", homework_path(@homework), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn btn-danger float-right'%>
        </div>
    <% end %>

    <%= form_for [@homework, @comment] do |c| %>
        <div class ="pt-5">
        <%= c.text_area :comment_content, class: 'form-control mt-3'%>
        <%= c.hidden_field :homework_id, value:@homework.id %>
        <%= c.hidden_field :user_id, value:current_user.id %>
        <%= c.submit "コメント送信", class:'btn btn-success float-right mt-3 mb-3'%>
        </div>
    <% end %>

    <table class="table">
    <thead>
        <tr>
        <th>コメント</th>
        <th>送信者</th>
        <th>　　</th>
        </tr>
    </thead>

    <% @comments.each do |comment| %>
        <tr>
        <td><%= comment.comment_content%></td>
        <td><%= comment.user.name%></td>
        <td>
        <% if current_user == comment.user %>
            <%= link_to "削除", homework_comment_path(@homework, comment), method: :delete%>
        <% end %>
        </td>
        </tr>
    <% end %>
    </table>
</div>