<!DOCTYPE html>
<html>
  <head>
    <title>Kosen-Manager</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <% if user_signed_in? %>
      <a href="/" class="navbar-brand anton"><%= current_user.course.course_name%> Manager</a>
      <% else %>
       <a href="/" class="navbar-brand anton">Kosen Manager</a>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
      menu
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto ml-5">
        <li class="nav-item">
          <%= link_to 'Top', root_path, class: 'text-white pr-3'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Todo', tasks_path, class: 'text-white pr-3'%>
        </li>

        <li class="nav-item">
          <%= link_to '課題管理', homeworks_path, class: 'text-white pr-3'%>
        </li>

        <li class="nav-item">
          <%= link_to '使い方', howto_homes_path, class: 'text-white pr-3'%>
        </li>

        <%# <li class="nav-item"> <%= link_to 'BlackBoard', "https://bb.kosen-ac.jp/", class: 'text-white pr-3' </li>%>
      </ul>

        <div class = "float-right">
            <% if user_signed_in? %>
                <%= link_to 'マイページ', edit_user_registration_path, class: 'btn bg-dark text-white mr-3' %>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn bg-dark text-white mr-3' %>
            <% else %>
                <%= link_to 'サインアップ', new_user_registration_path, class: 'btn bg-light text-dark mr-3' %>
                <%= link_to 'ログイン', new_user_session_path, class: 'btn bg-dark text-white mr-3' %>
            <% end %>
        </div>
    </nav>

    <% flash.each do |key, value|%>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>
            <%= content_tag(:div, value, class: "#{key}") %>
        </strong>
        
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
